:root {
  --navbar-height: 4rem;

  /* Paleta*/
  --background:    #FFFFFF;
  --foreground:    #1E1E1E;
  --primary:       #0052CC;
  --secondary:     #FFD600;
  --accent:        #FD8709;
  --leaf:          #E1C65B;
  --neutral-light: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:    #1E1E1E;
    --foreground:    #F0F0F0;
    --other:         #586b7e;
    --primary:       #3399FF;
    --secondary:     #FFDF33;
    --accent:        #FF9933;
    --leaf:          #D4B35E;
    --neutral-light: #555555;
  }
}
@media (max-width: 768px) {
  html { font-size: 90%; }  /* ~14.4px base en tablet */
}

@media (max-width: 480px) {
  html { font-size: 85%; }  /* ~13.6px en móviles pequeños */
}
html {
  font-size: 100%; /* 16px base */
}
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--primary);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;


}
