.main {
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: 0 0 4px 4px rgba(255, 208, 0, 0.253);
  width: fit-content;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .main {
    padding: 1.5rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .cardsGrid {
    grid-template-columns: 1fr; /* 1 columna en móvil */
    gap: 1rem;
  }
}
.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.linkWrapper {
  display: block;
  text-decoration: none;
}
.subtitle {
  font-size: 1.5rem;
  color: var(--foreground);
  margin-bottom: 1.5rem;
}

.features,
.ctaSection {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.8rem;
  color: var(--primary);
  margin-bottom: 1rem;
  text-align: left;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1.5rem;
}

.card {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--background);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.cardContent {
  text-align: center;
}

.cardText {
  margin: 0;
}

.ctaLink {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
}
.ctaLink:hover {
  color: var(--primary);
}
  