.container {
  padding: 2rem;
  margin: 2rem auto;
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: 0 0 4px 4px rgba(255, 208, 0, 0.253);
  max-width: 800px;
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95%;

}
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
}
.title {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  color: var(--foreground);
  margin-bottom: 1.5rem;
  text-align: justify;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: var(--secondary);
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c; /* rojo de error */
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.listItem {
  font-size: 1rem;
  color: var(--foreground);
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 1.5rem;
  color: var(--primary);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--neutral-light);
  padding-bottom: 0.5rem;
}

.strongText {
  color: var(--foreground);
}

.backButton {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.backButton:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
}
